@use 'sass:math';

$header-text-color: #2f2e2d;

// dalbert: TODO base layout on this value
$main-width: 80%;
$main-gutter-width: (100% - $main-width) * 0.5;
$main-immage-width: $main-width * 0.25;
$main-content-width: $main-width * 0.75;

$max-main-width: 100vw;
// $max-main-width: 1200px;
$max-main-image-width: $max-main-width * 0.25;
$max-main-content-width: $max-main-width * 0.75;