@use 'breakpoints';

$header-height: 300px;

.root {
    .wrapper {
        height: $header-height;
        
        img { 
            width: 100%;
            height: $header-height;
            object-fit: cover;
        }
    }
}