@use 'breakpoints';
@use 'variables';

$hero-height: 200px;

.root {
    .wrapper {
        width: 100%;
        height: $hero-height;
        margin-left: auto;
        margin-right: auto;
        object-fit: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;

        @include breakpoints.sm {
            width: variables.$main-width;
        }

        // dalbert: TODO play with some of these...
        // https://css-tricks.com/design-considerations-text-images/
        h2 {
            font-size: 45px;
            color: variables.$header-text-color;
            text-align: center;
        }
    }
}
