@use 'breakpoints';
@use 'variables';

$hero-height: 200px;

.root {
    .wrapper {
        width: 100%;
        height: $hero-height;
        margin-left: auto;
        margin-right: auto;
        
        @include breakpoints.sm {
            width: variables.$main-width;
        }
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}